:root {
  --illumination-x: center;
  --illumination-y: center;
}

.illumination {
  background-image: radial-gradient(
    512px circle at var(--illumination-x) var(--illumination-y),
    #ffffff40,
    ease-in-out,
    transparent
  );
}
