@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

@media (min-width: 400px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 560px) {
  :root {
    font-size: 16px;
  }
}

.border-gradient::after {
  -webkit-mask:
    linear-gradient(#ffffff 0 0),
    linear-gradient(#ffffff 0 0) content-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
